* {
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
}
.container {
  padding-bottom: 40px;
  margin: auto;
  width: 1000px;
  text-align: center;
  background: #eee;

  & > canvas {
    margin: 0 auto 20px;
  }
}
.title {
  line-height: 3;
  font-size: 30px;
}
.webgl {
  margin: auto;
  width: 600px;
  height: 600px;
  background: skyblue;
}
.wave-audio {
  margin: 0 0 20px;
  padding: 20px;
  text-align: center;
  background: rgba(0,0,0,0.2);

  & > div {
    margin-top: 20px;
  }
  canvas {
    background: #fff;
  }
}
